html {
  background-image: url('./images/playstation-bg.jpeg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: 1350px;
  font-family: 'Play', sans-serif;
  font-size: larger;
  color: white;
}

.logo {
  bottom: 130px;
  left: 350px;
  height: 60px;
  width: 70px;
  vertical-align: middle;
  padding: 10px;
}

.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.app {
  width: auto;
  margin: auto;
  display: inline-block;
}

.main-header {
  font-size: 40px;
  vertical-align: middle;
  padding: 20px;
}

.menu-button {
  padding-left: 45px;
  font-family: 'Play', sans-serif;
  font-size: larger;
  color: white;
  cursor: pointer;
  border: none;
  background: none;
  outline: 0;
  box-shadow: none !important;
}


.menu-button:hover {
  color: rgb(187, 179, 179);
}

.menu {
  width: 200px;
  float: left;
}

.main-box {
  float: right;
  width: 1050px;
  height: 520px;
  border-left: thin solid white;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  overflow: hidden
}

.main-box-balance {
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  column-fill: auto;
  margin-bottom: 1em;
}

.game-list {
  list-style: none;
  text-transform: uppercase;
}


.form {
  position: center;
}

li {
  margin: 0%;
  height: 20px;
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
  white-space: nowrap;
  text-transform: uppercase;
}

.list-button {
  font-family: 'Play', sans-serif;
  font-size: 25px;
  color: white;
  cursor: pointer;
  border: none;
  background: none;
  outline: 0;
  box-shadow: none !important;
}

.list-button:hover {
  color: rgb(187, 179, 179);
}

.popup-info {
  color: black;
  font-size: 20px;
  border-style: solid;
  float: right;
  width: 300px;
  height: 190px;
  padding: 20px;
  border-radius: 5px;
  word-wrap: break-word;
  white-space: normal;
}

.box-art {
  float: left;
  /* border: black;
  border-radius: 5px;
  border-style: solid; */
  width: 270px;
}

p {
  color: black;
}

span {
  margin: 0%;
}

input[type=text] {
  width: 50%;
  padding: 5px 10px;
  margin: 8px 0;
  font-family: 'Play', sans-serif;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
}

.button {
  width: 50%;
  background-color: rgb(61, 112, 153);
  color: white;
  padding: 5px;
  font-family: 'Play', sans-serif;
  font-size: medium;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.list-info {
  color: grey;
  position: center;
}

.modal {
  height: fit-content;
  padding: none;
  border-radius: 20px;
  position: relative;
}